[submodule "Malicious URL Detection/Malicious URL Detection/Malicious_URL_Detector"]
	path = Malicious URL Detection/Malicious URL Detection/Malicious_URL_Detector
	url = https://github.com/serghine-abdelillah/DeepLearning-Projects.git
